/* Common Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 992px;
    margin: 0 auto;
}

.btn {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    background: #E55473;
    padding: 12px 19px;
}

/* Header Area */

header {
    background: rgba(229, 84, 115, 0.10);
    padding-top: 30px;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

.header-text-container {
    width: 60%;
}

.header-text-container h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.header-text-container p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 20px 0px;
}

.header-img-container {
    width: 40%;
}

.header-img-container img {
    width: 400px;
    height: 500px;
}